extends layout.pug

block scripts
    script(src='/public/javascripts/form-logic.js' defer='')
    script(src='/public/javascripts/workout-render.js' defer='')
    <!-- jQuery library used for some container collapsing animations -->
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js')
    
block styles
    link(rel='stylesheet' href='/public/styles/index.css')

block content
    section#main-section
        .form-container
            .form-title
                h1#form-name Set Input
                button#clear-form(onclick='document.getElementById("exercise-form").reset(); toggleVisibility(); toggleRequired(); sessionStorage.clear()')
                    i.fa-solid.fa-arrows-rotate
                <!-- button here -->
            form#exercise-form.form(action='/' method='POST')
                .input-container
                    label(for='workout-input') Workout date:
                    input#workout-input(type='date' name='date' required='true')
                .input-container
                    label(for='exercise-input') Exercise:
                    input#exercise-input(type='text' name='exercise_name' required='true' )
                textarea#exercise-comment-input(name='exercise_comment' placeholder='Exercise comments (e.g. technique used, rest time)')
                #weight-and-reps
                    .input-container
                        label(for='weight-input') Weight used:
                        .weight
                            input#weight-input(type='number' name='set_weight' min='0' step='0.01' )
                            select#weight-unit(name='set_weight_unit')
                                option#weight-kg(value='kg') kg
                                option#weight-lbs(value='lbs') lbs
                    .input-container
                        label(for='reps-input') Repetitions:
                        input#reps-input(type='number' name='set_reps' min='0' )
                #superset-check.input-container
                    label(for='superset-input') Superset?
                    input#superset-input(type='checkbox' name='superset')
                    .superset-input-container.input-container
                        label(for='superset-exercise-input') Exercise:
                        input(type='text' name='superset_exercise' id='superset-exercise-input')
                    #weight-and-reps
                        .superset-input-container.input-container
                            label(for='superset-weight-input') Weight used:
                            .weight
                                input(type='number' name='superset_weight' id='superset-weight-input' min='0' step='0.01')
                                select#superset-weight-unit(name='superset_weight_unit')
                                    option#superset-weight-kg(value='kg') kg
                                    option#superset-weight-lbs(value='lbs') lbs
                        .superset-input-container.input-container
                            label(for='superset-reps-input') Repetitions:
                            input(type='number' name='superset_reps' id='superset-reps-input' min='0')
                textarea#set-comment-input(name='set_comment' placeholder='Set comments (e.g. reps in reserve)')
                if !username
                    button#submit-button-false(type='submit') Submit
                else
                    button#submit-button(type='submit') Submit
        .workout-container
            .workout-title
                h1#workout-name Workout for:
                input#display-date(type='date')
            .workout-exercises