doctype html
html
  head
    title Workout Tracker
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/stylesheets/styles.css')
    script(src='/javascripts/form-logic.js' defer='')

  body
    block content
