doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  block scripts
  block styles
  link(rel='stylesheet' href='/public/styles/layout.css')
  script(src='https://kit.fontawesome.com/08ea1250e9.js' crossorigin='anonymous')
  title Workout Tracker
body
    header
        h1#logo Logo
        .login-container
            if !username
                a(href='/login' value='login') Login / Signup
            else
                p Hi, #{username} |
                a(href='/logout' value='logout') Logout
    block content

    footer