extends layout

block styles
    link(rel='stylesheet' href='/public/styles/login-signup.css')

block content 
    if message
        p.message= message
    if messages.error
        p.message= messages.error
    if signupError
        p.message= signupError

    .login-signup-form
        h1 Login
        form(action='/user/login' method='POST')
            label(for='login-username') Username
            input(type='text' name='username' id='login-username' required)
            label(for='login-password') Password
            input(type='password' name='password' id='login-password' required)
            button(type='submit') Login
    .login-signup-form
        h1 Signup
        form(action='/user/signup' method='POST')
            label(for='signup-username') Username
            input(type='text' name='username' id='signup-username' minlength='3' required)
            label(for='login-email') Email
            input(type='email' name='email' id='login-email' required)
            label(for='signup-password') Password
            input(type='password' name='password' id='signup-password' minlength='8' required)
            button(type='submit') Signup