#main-section {
    display: flex;
    padding: 10px;
    gap: 10px;
    align-content: stretch;
    height: 100%;
    background-color:grey;
}

.form-container {
    flex: 1 1 auto;
    max-width: 400px;
    width: 24%
}

.workout-container {
    display: flex;
    flex-direction: column;
    flex: 7 1 auto;
    width: 74%;
    
}
    .workout-title {
        display: flex;
        justify-content: space-between;
        padding: 5px;
    }
    .workout-exercises {
        display: flex;
        overflow-x: scroll;
        height: 100%;
    }
        .exercise-container {
            display: flex;
            flex-direction: column;
            width: 250px;
            min-width: 250px;
            margin: 5px;
        }
            .exercise-name {
                padding: 5px;
                border-bottom: 1px solid black;
            }
            .weight-container {
                margin: 5px;
                text-align: center;
            }
                .set-weight-and-count {
                    display: flex;
                    justify-content: space-between;
                    padding: 5px;
                }
                .set-details {
                    margin: 0 5px 0 5px;
                    text-align: left;
                }
                .superset-exercise-and-weight {
                    margin: 0 5px 0 5px;
                    display: flex;
                    justify-content: space-between;
                    padding: 5px;
                }
                .superset-details {
                    margin: 0 10px 0 10px;
                    text-align: left;
                }

#main-section .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
}

#main-section .form .input-container {
    display: flex;
}

#main-section .form #superset-check {
    display: inline;
}

#main-section .form .superset-input-container {
    padding: 5px 0px 5px 25px;
}

.workout-container div {
    border: 1px solid black;
}