#main-section {
    display: flex;
    padding: 10px;
    gap: 10px;
    align-content: stretch;
    height: 100%;
}

.form-container {
    flex: 1 1 auto;
    max-width: 400px;
    width: 24%
}
    .form-title {
        border: 1px solid black;
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
    .form {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        padding: 5px;
    }
        .input-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5px;
        }
            input {
                margin-left: 5px;
            }
            textarea {
                padding: 2px;
                margin-bottom: 5px;
            }
            #workout-input {
                height: 20px;
            }
            #exercise-input {
                width: 100%;
                height: 20px;
            }
            #weight-and-reps {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }
            #weight-input {
                width: 50px;
                height: 20px;
            }
            #weight-unit {
                height: 24px;
            }
            #reps-input {
                width: 30px;
                height: 20px;
            }
        #superset-check {
            display: inline;
        }
            .superset-input-container {
                margin-left: 25px;
            }
                #superset-exercise-input {
                    width: 100%;
                    height: 20px;
                }
                #superset-weight-input {
                    width: 50px;
                    height: 20px;
                }
                #superset-weight-unit {
                    height: 24px;
                }
                #superset-reps-input {
                    width: 30px;
                    height: 20px;
                }
        #submit-button {
            height: 30px;
        }
    
.workout-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex: 7 1 auto;
    width: 74%;
    
}
    .workout-title {
        border: 1px solid black;
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
        #workout-name {
            display: flex;
            gap: 5px;
        }
    .workout-exercises {
        display: flex;
        overflow-x: scroll;
        height: 100%;
    }
        #not-found {
            padding: 10px;
        }
        .exercise-container {
            border-radius: 10px 10px 0 0;
            border: 1px solid black;
            display: flex;
            flex-direction: column;
            width: 250px;
            min-width: 250px;
            margin: 5px;
        }
            .exercise-name {
                padding: 5px;
                border-bottom: 1px solid black;
            }
            .exercise-comments {
                border-radius: 0 0 5px 5px;
                border: 1px solid black;
                border-top: 0;
                margin: 0 5px 0 5px;
                list-style-type: square;
                padding: 5px;
            }
            .weight-container {
                margin: 5px;
                text-align: center;
            }
                .set-weight-and-count {
                    border-radius: 5px 5px 0 0;
                    border: 1px solid black;
                    display: flex;
                    justify-content: space-between;
                    padding: 5px;
                }
                .set-details {
                    border-radius: 0 0 5px 5px;
                    border: 1px solid black;
                    border-top: 0;
                    margin: 0 5px 0 5px;
                    text-align: left;
                    padding: 5px;
                    padding-top: 0;
                }
                    .set-reps {
                        border-radius: 0 0 5px 5px;
                        border: 1px solid black;
                        border-top: 0;
                        padding: 5px;
                    }
                    #superset-text {
                        border-left: 1px dashed green;
                        border-right: 1px dashed green;
                        
                        text-align: center;
                        padding: 2px;
                    }
                    .superset-exercise-and-weight {
                        border-radius: 5px 5px 0 0;
                        border: 1px solid black;
                        
                        display: flex;
                        justify-content: space-between;
                        padding: 5px;
                    }
                    .superset-details {
                        border-radius: 0 0 5px 5px;
                        border: 1px solid black;
                        border-top: 0;
                        margin: 0 5px 0 5px;
                        text-align: left;
                        padding: 5px;
                    }
                    .set-comments {
                        border-radius: 2px;
                        border: 1px solid black;
                        margin-top: 5px;
                        padding: 5px;
                        list-style-type: none;
                    }

@media only screen and (max-width: 1000px) /*and (orientation: portrait)*/ {
    #main-section {
        flex-direction: column;
        width: 100%;
        padding: 10px 0 0 0;
        justify-content: flex-start;
        gap: 10px;
    }
        .form-container {
            max-width: 100%;
            width: 100%;
            flex: 0;
            font-size:larger;
        }
        .workout-container {
            max-width: 100%;
            width: 100%;
            flex: 0;
            font-size:larger;
        }
            .workout-exercises {
                flex-direction: column;
                overflow-x: hidden;
                padding: 0 5px 0 5px;
                height: fit-content;
            }
            .exercise-container {
                width: 100%;
                margin: 0;
                margin-top: 10px;
            }
            .weight-container {
                display: none;
            }
            .exercise-comments {
                display: none;
            }
}