* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid black;
}
    .login-container {
        display: flex;
        align-items: center;
        gap: 5px;
    }